.mapDiv {
    display: inline-block;
    position: relative;
    width: 45%;
    padding: 10px 0px 0px 20px;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
  }

.map {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    border: medium solid #9f9f9f;
    margin: 10px 0px 0px 20px;
    background-color: #D5E3FF;
}

.states {
    fill: #fff;
    stroke: #000;
    stroke-width: 1px;
}

.chartDiv {
    display: inline-block;
    position: relative;
    width: 45%;
    padding: 10px 0px 0px 20px;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
  }

.chart {
    background-color: rgba(128,128,128,.2);
    border: medium solid #9f9f9f;
    float: right;
    margin: 10px 20px 0 0;
}