.mapDiv {
    position: relative;
}

.map {
    border: medium solid #9f9f9f;
    margin: 10px 0px 0px 20px;
    background-color: #D5E3FF;
}

.states {
    fill: #fff;
    stroke: #000;
    stroke-width: 1px;
}

.chart {
    background-color: rgba(128,128,128,.2);
    border: medium solid #9f9f9f;
    float: right;
    margin: 10px 20px 0 0;
}